{% extends 'blog/base.html' %}

{% block content %} 
    <div class="post_card">
        <div class="top">
            <div class="post_title">
                <p>{{post.title}}</p>
            </div>
            <div class="publish_date">
                <p>{{post.time_published}}</p>
            </div>
            <a href="{% url 'post_edit' pk=post.pk %}">
                {% include '../icons/pencil-fill.svg' %}
            </a>
        </div>
        <div class="content">
            <p>{{post.text|linebreaks}}</p>
            <img src="../media/{{post.image}}" alt="" style="height: 500px;">
        </div>
        <div class="author">
            <p>posted by: {{post.author}}</p>
        </div>
    </div>
{% endblock %}  